.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .8s ease, transform .8s ease;
}

.fade-in h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {  
    .fade-in h2 {
      font-size: 2rem;
    }
  }
  