@import '../../index.less';

.contents-list {
    .two-columns;
    text-align: left;
    width: fit-content;
    align-self: center;
    font-size: 1.1rem;
}

.contents-list li {
    margin-left: 2em;
}