:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #fff;
  --light: #f5f5f5;
  --lighter-gray: #eee;
  --light-gray: #aaa;
  --gray: #777;
  --mid-gray: #333;
  --dark: #555;
  --darker: #222;
  --black: #000;
  --primary-orange: #ff6600;
  --secondary-orange: #ff4500;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  line-height: 1.6;
  color: var(--mid-gray);
  background: var(--light);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  color: inherit;
}

a.btn-link {
  transition: color 0.3s ease;
}

a.btn-link:hover {
  color: var(--primary-orange);
}

button, .btn {
  width: fit-content;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: var(--primary-orange);
  color: var(--white);
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover, .btn:hover {
  background: var(--secondary-orange);
}

.horizontal-pad {
  padding-left: max(2rem, 20%);
  padding-right: max(2rem, 20%);
}

.content-section {
  .horizontal-pad;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.frontpage-section {
  .content-section;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.highlight-section {
  .content-section;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  padding: 2rem max(2rem, 5%);
  color: white;
}

.highlight-section p {
  font-size: 1.2rem;
}

.highlight-section button, .highlight-section .btn {
  margin-top: 1.1rem;
  background-color: var(--white);
  color: var(--primary-orange);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.highlight-section button:hover, .highlight-section .btn:hover {
  background-color: var(--primary-orange);
  transform: translateY(-5px);
  color: var(--white);
}

.block {
  height: 4em;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.rounded {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rounded-box {
  .rounded;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--white);
}

code {
  display: inline-block;
  transform: translateY(-0.1em);
  padding: 0.1em 0.4em;
  background: var(--lighter-gray);
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
  .content-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .horizontal-pad {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .rounded-box {
    padding: 1rem;
  }
}
